<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<section>
    <h1>Lorem ipsum dolor sit amet.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, ullam!</p>
    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aspernatur cumque distinctio, dolorum ipsum iusto nam provident quibusdam veritatis?</small>
</section>

</body>
</html>